<div class="container" style="margin-top: 40px;">    
    <div style="margin-top:50px;" class="mainbox col-md-12 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Log out</div>
                </div>     
                <div style="padding-top:30px" class="panel-body" >
                    <p>Are you sure you want to logout?</p>
                    <div style="text-align: center;"></div>
                    <a (click)="dologout()"><button class="btn btn-primary">yes</button></a>&nbsp;
                    <a routerLink="/mycomplaints/:userid"><button class="btn btn-primary">no</button></a>
                    <br>  <br><br>
                        
                    </div>                     
                </div>  
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>